.list{
    margin-top: 123px;
    margin-left: 40px;
    width: 98px;
    height: 374px;
    text-align: left;
    font: Medium 20px/70px Roboto;
    letter-spacing: 0px;
    opacity: 1;
}
.logo{
    top: 32px;
    left: 40px;
    width: 219px;
    height: 45px;
    opacity: 1;
}