.bar {
    top: 15px;
    left: 413px;
    width: 758px;
    height: 73px;
    background: #F8FAFB 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}
.button {
    top: 26px;
    left: 1211px;
    width: 155px;
    height: 52px;
    background: #4CA2FF 0% 0% no-repeat padding-box;
    border-radius: 26px;
    opacity: 0.6;
}